@import './custom-blocks'

@import "~prismjs/themes/prism-tomorrow.css"
// @import "//fenghen.me/font/noto-sans.css"

#app 
    .footer
        display: none
    
.content-wrapper
    a:link 
        text-decoration: none
    a:hover
        text-decoration: underline
    
    .blog-tag:hover
        text-decoration: none
    
    padding: 2rem 1rem
    max-width: 800px

// 覆盖插件生成的异常节点，margin 占用高度，修复文章详情页异常
.post-title {
    display: none;
}

.vuepress-blog-theme-content {
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "MicrosoftYaHei", sans-serif !important;
    
    h1, h2, h3, h4, h5, h6 {
        font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "MicrosoftYaHei", sans-serif !important;
    }

    .copy-code-pure-button {
        background-color: rgba(200, 200, 200, 0.1);
    }
}

.content__default:not(.custom) > h1:first-child {
    margin-top: 0;
    padding-top: 0;
}

#header {
    position: static;
    width: 100%;
}

// 修复移动版异常偏移
#mobile-header {
    height: 64px;
}

.content-wrapper .vuepress-toc {
    top: 6rem;
    padding-top: 0;
}

.suggestions {
    background: #fff !important;
    z-index: 1000;
    cursor: pointer;
}

#home {
    display: flex;
    flex-direction: row;
    width: 900px;
    margin-left: -100px;

    .avatar {
        width: 300px; 
        margin-right: 60px; 
        text-align: center;     
        flex-shrink: 0;
    }
}

// 覆盖文章容器样式，优化边距
.vuepress-blog-theme-content {
    padding: 1rem 1.5rem !important;
    margin: 0 !important;
}

@media only screen and (max-width: 700px) {
    // 定制移动版首页样式
    #home {
        width: 100%;
        margin-left: 0px;
        flex-direction: column;

        .avatar {
            margin: 0 0 20px 0;
            width: 100%;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);;
        }
    }

    // 优化移动版边距
    .vuepress-blog-theme-content {
        padding: 0 !important;
    }
    .content-wrapper {
        padding: 2rem 10px;
    }
}
