@import './custom-blocks'

@import "~prismjs/themes/prism-tomorrow.css"
// @import "//hughfenghen.github.io/font/noto-sans.css"

#app 
    .footer
        display: none
    
.content-wrapper
    a:link 
        text-decoration: none
    a:hover
        text-decoration: underline
    
    .blog-tag:hover
        text-decoration: none
    
    padding: 60px 15px
    max-width: 800px
        

.vuepress-blog-theme-content {
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "MicrosoftYaHei", sans-serif !important;
    
    h1, h2, h3, h4, h5, h6 {
        font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "MicrosoftYaHei", sans-serif !important;
    }

    .copy-code-pure-button {
        background-color: rgba(200, 200, 200, 0.1);
    }
}

.content__default:not(.custom) > h1:first-child {
    margin-top: 0;
    padding-top: 0;
}

#header {
    position: static;
    width: 100%;
}

// 手机版隐藏 首页的左侧介绍
@media only screen and (max-width: 700px) {
    .avatar {
        display: none;
    }

    .vuepress-blog-theme-content {
        padding-left: 0 !important; 
        padding-right: 0 !important; 
    }
}
