@import "~prismjs/themes/prism-tomorrow.css"
@import url('https://fonts.googleapis.com/css?family=Noto+Sans')


#app 
    .footer
        display: none

.vuepress-blog-theme-content {
    font-family: 'Noto Sans' !important;
    
    h2, h3, h4, h5, h6 {
        font-family: 'Noto Sans' !important;
    }
}
